.profile {
    margin: 30px 0;
    box-sizing: border-box;
}

.profile-block {
    padding: 50px;
    display: flex;
    position: relative;
}

.profile-dropdown-button {
    position: absolute;
    top: 200px;
    right: 60px;
    color: #0019FF;
    z-index: 5;
    transform: rotate(0);
    transition: all 400ms ease-in-out;
}

.profile-dropdown-button_open {
    transform: rotate(180deg);
}

.profile-picture {
    margin: 0px 60px 0px 30px;
}

.profile-info {
    flex: 1;
    transition: all 300ms ease-in-out;
}
.profile-info-age {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
}

.profile-info-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    text-align: left;
}

.profile-info-prop {
    display: flex;
    margin-top: 10px;
}

.profile-info-key {
    flex: 2;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #979797;
}

.profile-info-value {
    flex: 3;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
}

.edit {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    text-align: right;

    color: #0019FF;
}

.my-node-enter {
    opacity: 0;
    transform: translateY(-100%);
}

.my-node-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 1000ms;
}

.my-node-exit {
    opacity: 1;
    transform: translateY(0);
}

.my-node-exit-active {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 1000ms;
}

.example-enter {
    background-color: blue;
}

.example-enter-active {
    background-color: red;
    transition: background-color 700ms;
}

.example-leave {
    background-color: red;
}

.example-leave-active {
    background-color: blue;
    transition: background-color 700ms;
}