.group-block {
    display: flex;
    flex-direction: column;
    min-height: 478px;
}

.group-block-header {
    position: relative;
}

.group-block-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.group-block-members {
    display: flex
}

.group-block-members .avatar {
    margin-right: 15px;
}

.group-block-controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}


.group-block-about {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    flex: 1;
    display: flex;
    align-items: center
}

.group-block-info {
    display: flex;
    margin-top: 20px;
}

.group-block-info-item {
    flex: 1;
}

.group-block-info-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #C2C2C2;
    text-transform: uppercase;
}

.group-block-info-value {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.group-block-city {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #3F3F3F;
}

.search-input {
    width: auto;
    flex-grow: 1;
    margin-right: 3px;
}

.arrow-right {
    background-image: url("./../../images/arrow-right.png");
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
}