.search-input {
    width: auto;
    flex-grow: 1;
    margin-right: 3px;
}

.group-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: 0.25px;

    color: #000000;
}

.group-city {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.25px;

    color: #3F3F3F;
}

group-about {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.25px;

    position: absolute;
    width: 279px;
    left: 569px;
    color: #000000;
}

.group-block-column-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    letter-spacing: 0.25px;

    color: #C2C2C2;
}

.group-block-column-data {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: 0.25px;

    color: #000000;
}