.page {
    padding: 90px 0px;
    background-color: #F9F9F9;
}

.title2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #292A34;
    margin-top: 60px;
    margin-bottom: 60px;
}

.title-groups {
    position: relative;
}

.title-groups::before {
    display: block;
    content: "";
    width: 48px;
    height: 1px;
    border-bottom: solid #0019FF 3px;
    position: absolute;
    top: -20px;
    left: calc(50% - 24px);
}