.navbar {
    border-bottom: solid 1px #D8D8D8;
}

.navbar-brand .logo {
    font-size: 36px;
    letter-spacing: 0.25px;
}

.navbar-item:hover a {
    opacity: 0.7;
}

.navbar-item, .navbar-item a {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.avatar {
    margin-right: 10px;
}

.logout-button {
    background-image: url("./../../images/logout.png");
    width: 20px;
    height: 20px;
}